<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICD</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1> TEAM 6 </h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('joana') }}">Joana</a></li>
                    <li><a href="{{ url_for('eric') }}">Eric</a></li>
                    <li><a href="{{ url_for('lois') }}">Lois</a></li>
                </ul>
            </nav>
        </header>
        
        <section class="content">
            <h2>Lab Activity 6</h2>
            <p>Practising Continuous Integration, Continuous Development</p>
            <div class="cta">
                <a href="{{ url_for('joana') }}" class="cta-button">Joana</a>
                <a href="{{ url_for('eric') }}" class="cta-button">Eric</a>
                <a href="{{ url_for('lois') }}" class="cta-button">Lois</a>
            </div>
        </section>
        
        <footer>
            <p>&copy; 2024 cloudcomputing. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
